@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
  background: #0b2447;
}

canvas {
  width: 95% !important;
}
